h3, 
.section i { 
    color: var(--secondary-color); 
    margin-bottom: 1rem; 
}

.background { 
    background-color: var(--additional-color); 
}

.section { 
    display: var(--layout-display); 
    flex-direction: var(--desktop-display); 
    gap: 56px; justify-content: var(--layout-alignment); 
    padding-bottom: 5rem; 
}

.section div {
    background-color: var(--primary-color);
    box-shadow: #ced5fd 0px 2px 4px;
    height: 300px;
    padding: 30px 30px 50px;
    position: relative;
    transition: var(--transition-style);
    width: 40%;
}

.section div:first-child {
    background-color: #bac2f3;
}

.section div:hover {
    box-shadow: #adb6ef 0px 2px 4px;
}

.section i { 
    display: block;
    font-size: 25px; 
    font-weight: bold;  
    margin-bottom: 1rem; 
}

.section p {
    color: var(--secondary-color);
    font-size: 14px;
    margin-right: 26px;
    position: absolute;
    top: 150px;
}

.btn-wrap { 
    display: var(--layout-display); 
    gap: 28px; 
    margin-top: 2.75rem; 
}

.category {
    color: var(--secondary-color);
    margin-left: 1.5rem;
}

hr {
    background: var(--additional-color);
    border: 1px solid var(--additional-color);
    border-radius: 10px;
    margin: 30px 0 40px;
}

.portfolio { 
    align-items: var(--layout-alignment); 
    display: var(--layout-display); 
    flex-direction: var(--mobile-display); 
    justify-content: var(--layout-alignment); 
}

.sample { 
    display: var(--layout-display);
    flex-direction: var(--desktop-display); 
    justify-content: right;
    max-width: 1441px; 
    margin-bottom: 20px;
    overflow: hidden;  
}

.sample-content { 
    display: var(--layout-display); 
    flex: 1 1 0%;
    flex-direction: var(--mobile-display);  
    padding: 0 0 0px 35px; 
}

.sample-description { 
    color: var(--secondary-color); 
    font-size: 14px; 
}

.sample-heading { 
    margin-right: auto; 
}

.sample-link { 
    text-decoration: var(--link-style)  !important; 
}

.sample-img { 
    border-radius: 2.5%;  
    min-height: 350px; 
    object-fit: cover; 
    width: 100%;
}

.sample-photo { 
    flex: 0 0 50%; 
}

.sample-title {
    align-items: var(--layout-alignment);  
    display: var(--layout-display); 
    margin: 0px 0px 56px; 
}

.service, 
.work { 
    padding: 4rem 6rem; 
}

.workplace, 
.services { 
    display: var(--layout-display); 
    justify-content: var(--layout-alignment);  
    margin: 0 auto; 
    max-width: 1280px;
}

.work-link:hover { 
    background: var(--primary-color); 
    border: 2px solid var(--secondary-color); 
    color: var(--secondary-color); 
}

.work-link { 
    background: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    border-radius: 8px; 
    color: var(--primary-color); 
    cursor: var(--cursor-style); 
    letter-spacing: 1.5px; 
    padding: 0.5rem 1rem; 
    transition: var(--transition-style); 
    text-decoration: var(--link-style)  !important; 
}

.year-tag { 
    background: var(--tag-color);
    border-radius: 100px;  
    font-size: 14px; 
    font-weight: bold; 
    letter-spacing: 1.5px; 
    padding: 5px 20px; 
    text-transform: unset; color: var(--primary-color); 
}

@media (max-width: 991px) {
    .sample-img { 
        min-height: 250px; 
    }
}

@media (max-width: 375px) {
    .sample-img { 
        min-height: 200px; 
    }
}
